<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="us.coastalhacking.corvus.launchconfiguration"
            name="Corvus"
            modes="run"
            delegate="us.coastalhacking.corvus.eclipse.launcher.CorvusLaunchFactory:corvus.launch.factory.launcher">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="us.coastalhacking.corvus.eclipse.launcher.CorvusLaunchFactory:corvus.launch.factory.tabgroup"
            id="us.coastalhacking.corvus.launchtabgroup"
            type="us.coastalhacking.corvus.launchconfiguration">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
