<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="https://model.coastalhacking.us/corvus/entrypoint/0.1"
            class="us.coastalhacking.corvus.entrypoint.EntrypointPackage"
            genModel="model/EntryPoint.xcore">
      </package>
   </extension>
   <extension
         id="marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="us.coastalhacking.corvus.eclipse.resources.marker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="us.coastalhacking.corvus.entrypoint.marker"
            name="us.coastalhacking.corvus.entrypoint.annotation">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="us.coastalhacking.corvus.entrypoint.annotation"
            colorPreferenceKey="entryPointIndicationColor"
            colorPreferenceValue="128,0,128"
            contributesToHeader="true"
            highlightPreferenceKey="entryPointIndicationHighlighting"
            highlightPreferenceValue="false"
            icon="icons/fugue/shadowless/door-open-in.png"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="isEntryPointGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isEntryPointGoToPreviousNavigationTarget"
            label="Entry Points"
            overviewRulerPreferenceKey="entryPointIndicationOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showEntryPointInNextPrevDropdownToolbarAction"
            symbolicIcon="info"
            textPreferenceKey="entryPointIndication"
            textPreferenceValue="true"
            textStylePreferenceKey="entryPointTextStyle"
            textStylePreferenceValue="DASHED_BOX"
            verticalRulerPreferenceKey="entryPointIndicationVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         id="us.coastalhacking.corvus.entrypoint.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
