<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EclipseResources -->
      <package
            uri="https://model.coastalhacking.us/corvus/eclipseResources/0.1"
            class="us.coastalhacking.corvus.eclipse.resources.EclipseResourcesPackage"
            genModel="model/EclipseResources.xcore"/>
   </extension>
   <extension
         id="marker"
         name="Base marker for Corvus-related tools"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <super
            type="org.eclipse.core.resources.bookmark">
      </super>
   </extension>

</plugin>
